<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindSelling</title>
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <main>
        <section class="section_top">
            <article class="titles">
                <h2>📱 Adquira agora o eBook Mindselling e comece a aplicar essas estratégias no seu negócio HOJE!</h2>
                <a href="#">Adquira já o seu</a>
            </article>
        </section>

        <section class="image_text_section">
            <!-- Container que vai ter a imagem e o texto sobreposto -->
            <div class="image_container">
                <!-- 
                <div class="text_above_image">
                    <h3>Texto sobre a imagem</h3>
                </div>  
                -->
                <img src="../static/img/imgcapa.png" alt="Imagem de Capa" class="image">
            </div>

            <!-- Texto que ficará abaixo da imagem -->
            <article class="text_below_image">
                <p>
                    🎯 Você sabia que as decisões de compra são, em grande parte, inconscientes? Aprenda como a neurociência está revolucionando o mundo das vendas e descubra como usar os gatilhos cerebrais que aumentam sua influência no mercado.
                </p>
                <p>
                    💡 Mindselling revela os princípios científicos que você pode aplicar hoje mesmo para atrair, engajar e conquistar mais clientes, tudo baseado em como o cérebro humano funciona.
                </p>
            </article>
        </section>

        <section class="section_bottom">
            <article class="extras">
                <p>
                    O que você vai encontrar no livro:
                    Neuromarketing em Ação: Como o cérebro decide o que comprar (e como você pode influenciá-lo).
                    O Poder das Emoções: Crie conexões emocionais poderosas com seus consumidores.
                </p>
            </article>
        </section>
    </main>
</body>
</html>
