<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindSelling</title>
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <main>

        <section></section>
        <Section>
            
            <article class="titles">
                <h2>🚀 Descubra o Segredo para Vender Mais com a Ciência do Cérebro!</h2>
                <h2>📖 Mindselling - Neurociência Aplicada às Vendas</h2>
            </article>
            
            <article class="img_container">
            </article>
        </Section>
        <section></section>

    </main>
</body>
</html>